/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 50px); /* Aumentamos el tamaño y lo hacemos más grande */
  padding: 20px;
  margin-top: -50px; /* Esto acerca el contenedor del login a la navbar */
}
.login-form {
  width: 100%;
  max-width: 450px; /* Aumentamos el tamaño del formulario */
  background: #ffffff;
  padding: 40px 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  font-size: 24px;
  font-weight: 600;
}

.login-image {
  width: 100px; /* Hacemos la imagen más grande */
  height: 100px; /* Hacemos la imagen más grande */
  border-radius: 50%; /* Aseguramos que la imagen sea circular */
  margin-bottom: 20px; /* Espacio debajo de la imagen */
  object-fit: cover; /* Asegura que la imagen no se distorsione */
}

/* Estilo de los campos de entrada */
.input-field {
  padding: 12px 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #4e73df;
  box-shadow: 0 0 8px rgba(78, 115, 223, 0.6);
  outline: none;
}

/* Estilo del botón de login */
.login-button {
  background-color: #4e73df;
  color: white;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #2e59d9;
}

/* Estilo de la alerta */
.alert {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}
